In [1]:
import pandas as pd

In [5]:
inventory = pd.read_csv("data/inventory.csv")
print("The shape of inventory data is", inventory.shape)
inventory.head()

The shape of inventory data is (29, 5)

        location  product_type product_description  quantity  price
0  Staten Island         seeds               daisy         4   6.99
1  Staten Island         seeds          calla lily        46  19.99
2  Staten Island         seeds              tomato        85  13.99
3  Staten Island  garden tools                rake         4  13.99
4  Staten Island  garden tools         wheelbarrow         0  89.99


The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [8]:
staten_island = inventory.iloc[:10]
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

## 2
A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

In [12]:
product_request = staten_island['product_description']
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

## 3

Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the variable seed_request

In [15]:
seed_request = inventory[ (inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]
seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

## 4
Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0

In [18]:
inventory['in_stock'] = inventory['quantity'].apply(lambda stock: True if stock > 0 else False)
inventory

,location,product_type,product_description,quantity,price,in_stock
0,Staten Island,seeds,daisy,4,6.99,True
1,Staten Island,seeds,calla lily,46,19.99,True
2,Staten Island,seeds,tomato,85,13.99,True
3,Staten Island,garden tools,rake,4,13.99,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,False
5,Staten Island,garden tools,spade,93,19.99,True
6,Staten Island,pest_control,insect killer,74,12.99,True
7,Staten Island,pest_control,weed killer,8,23.99,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,True
10,Brooklyn,seeds,daisy,50,6.99,True
11,Brooklyn,seeds,calla lily,0,19.99,False
12,Brooklyn,seeds,tomato,0,13.99,False
13,Brooklyn,garden tools,rake,15,13.99,True
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True
15,Brooklyn,garden tools,spade,36,19.99,True
16,Brooklyn,pest_control,insect killer,80,12.99,True
17,Brooklyn,pest_control,weed killer,76,23.99,True
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True
20,Queens,seeds,daisy,57,6.99,True
21,Queens,seeds,calla lily,95,19.99,True
22,Queens,seeds,tomato,45,13.99,True
23,Queens,garden tools,rake,21,13.99,True
24,Queens,garden tools,wheelbarrow,98,89.99,True
25,Queens,garden tools,spade,26,19.99,True
26,Queens,pest_control,insect killer,0,12.99,False
27,Queens,pest_control,weed killer,16,23.99,True
28,Queens,planter,20 inch terracotta planter,87,17.99,True

## 5
Petal Power wants to know how valuable their current inventory is.

Create a column called total_value that is equal to price multiplied by quantity

In [21]:
inventory['total_value'] = inventory['price'] * inventory['price'] * inventory['quantity']
inventory.head()

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,195.4404
1,Staten Island,seeds,calla lily,46,19.99,True,18381.6046
2,Staten Island,seeds,tomato,85,13.99,True,16636.2085
3,Staten Island,garden tools,rake,4,13.99,True,782.8804
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.0000

## 6
The Marketing department wants a complete description of each product for their catalog.

The following lambda function combines product_type and product_description into a single string:

In [24]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product

In [27]:
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)
inventory

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,195.4404,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,18381.6046,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,16636.2085,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,782.8804,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.0000,garden tools - wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,True,37162.8093,garden tools - spade
6,Staten Island,pest_control,insect killer,74,12.99,True,12486.7674,pest_control - insect killer
7,Staten Island,pest_control,weed killer,8,23.99,True,4604.1608,pest_control - weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.0000,planter - 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,843.7653,planter - 8 inch plastic planter
10,Brooklyn,seeds,daisy,50,6.99,True,2443.0050,seeds - daisy
11,Brooklyn,seeds,calla lily,0,19.99,False,0.0000,seeds - calla lily
12,Brooklyn,seeds,tomato,0,13.99,False,0.0000,seeds - tomato
13,Brooklyn,garden tools,rake,15,13.99,True,2935.8015,garden tools - rake
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True,664052.4082,garden tools - wheelbarrow
15,Brooklyn,garden tools,spade,36,19.99,True,14385.6036,garden tools - spade
16,Brooklyn,pest_control,insect killer,80,12.99,True,13499.2080,pest_control - insect killer
17,Brooklyn,pest_control,weed killer,76,23.99,True,43739.5276,pest_control - weed killer
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True,1618.2005,planter - 20 inch terracotta planter
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True,413.9226,planter - 8 inch plastic planter
20,Queens,seeds,daisy,57,6.99,True,2785.0257,seeds - daisy
21,Queens,seeds,calla lily,95,19.99,True,37962.0095,seeds - calla lily
22,Queens,seeds,tomato,45,13.99,True,8807.4045,seeds - tomato
23,Queens,garden tools,rake,21,13.99,True,4110.1221,garden tools - rake
24,Queens,garden tools,wheelbarrow,98,89.99,True,793623.6098,garden tools - wheelbarrow
25,Queens,garden tools,spade,26,19.99,True,10389.6026,garden tools - spade
26,Queens,pest_control,insect killer,0,12.99,False,0.0000,pest_control - insect killer
27,Queens,pest_control,weed killer,16,23.99,True,9208.3216,pest_control - weed killer
28,Queens,planter,20 inch terracotta planter,87,17.99,True,28156.6887,planter - 20 inch terracotta planter